/* Google Font Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --light-blue: #F7FCFE;
    --dark-blue: #2E5374;
    --white: #FFFFFF;
    --light-gray: #DEE2E6;
    --blue: #4b98e0;
}

* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--light-blue);
    /* background: linear-gradient(180deg, rgba(252,253,254,1) 0%, rgba(243,252,255,1) 67%, rgba(228,243,249,1) 100%);
    min-height: 100vh; */
}

/* START: Signup Form Styling */
.signup-div {
    background: url('../images/signup-bg.jpg') no-repeat top right;
    background-size: cover;
}

.signup-input-boxes {
    background-color: rgba(255, 255, 255, 0.1);
}
/* END: Signup Form Styling */

/* START: Dashboard Styling */
select.year {
    width: 130px;
}
/* END: Dashboard Styling */
